name: Continuous integration

on:
  pull_request:
  push:
    branches:
      - master
    tags:
      - '*'

permissions:
  contents: write
  id-token: write

env:
  HAS_SECRETS: ${{ secrets.HAS_SECRETS }}
  PYTHON_KEYRING_BACKEND: keyring.backends.null.Keyring

jobs:
  pre-commit:
    name: Pre commit
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    if: "!startsWith(github.event.head_commit.message, '[skip ci] ')"

    steps:
      - uses: actions/checkout@v5

      - name: GitHub event
        run: echo ${GITHUB_EVENT} | python3 -m json.tool
        env:
          GITHUB_EVENT: ${{ toJson(github) }}

      - uses: actions/setup-python@v6
        with:
          python-version: '3.14'
      - run: pip install $(grep pre-commit ci/requirements.txt)
      - run: pip install --editable=.

      - uses: actions/cache@v4
        with:
          path: ~/.cache/pre-commit
          key: pre-commit-${{ hashFiles('.pre-commit-config.yaml') }}
          restore-keys: |
            pre-commit-${{ hashFiles('.pre-commit-config.yaml') }}
            pre-commit-
      - run: pre-commit run --all-files --color=always
      - run: git diff --exit-code --patch > /tmp/pre-commit.patch; git diff --color; git reset --hard || true
        if: failure()
      - uses: actions/upload-artifact@v5
        with:
          name: Apply pre-commit fix.patch
          path: /tmp/pre-commit.patch
          retention-days: 1
        if: failure()

      # Mark as SUCCESS
      - run: echo "SUCCESS" > /tmp/pre-commit.success
      - uses: actions/upload-artifact@v5
        with:
          name: PRE-COMMIT-SUCCESS
          path: /tmp/pre-commit.success
          retention-days: 1

  build:
    name: Run tests
    runs-on: ubuntu-24.04
    timeout-minutes: 15

    strategy:
      fail-fast: false
      matrix:
        python-version:
          - '3.9'
          - '3.10'
          - '3.11'

    steps:
      - uses: actions/checkout@v5

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - run: pip install --requirement=ci/requirements.txt

      - run: poetry install
      - name: Versions
        run: |
          poetry --version
          python --version
          poetry run python --version
          [ "$(python3 --version)" == "$(poetry run python --version)" ]

      - run: poetry run prospector --output=pylint --die-on-tool-error
        if: matrix.python-version != '3.8'

      - run: pip install -e .
      - run: mra-yaml --test -

  build-success:
    name: Build success
    runs-on: ubuntu-24.04
    timeout-minutes: 15
    needs: build

    steps:
      # Mark as SUCCESS
      - run: echo "SUCCESS" > /tmp/build.success
      - uses: actions/upload-artifact@v5
        with:
          name: BUILD-SUCCESS
          path: /tmp/build.success
          retention-days: 1

  publish:
    name: Publish
    runs-on: ubuntu-24.04
    timeout-minutes: 15
    if: always() && !startsWith(github.event.head_commit.message, '[skip ci] ')
    needs:
      - build-success
      - pre-commit

    steps:
      # Check success
      - uses: actions/download-artifact@v6
        with:
          name: PRE-COMMIT-SUCCESS
      - uses: actions/download-artifact@v6
        with:
          name: BUILD-SUCCESS

      - uses: actions/checkout@v5

      - uses: actions/setup-python@v6
        with:
          python-version: '3.14'
      - run: python3 -m pip install --requirement=ci/requirements.txt

      - name: Init pypi
        run: |-
          echo "[pypi]" > ~/.pypirc
          echo "username = ${{ secrets.PYPI_USERNAME }}" >> ~/.pypirc
          echo "password = ${{ secrets.PYPI_PASSWORD }}" >> ~/.pypirc
        if: env.HAS_SECRETS == 'HAS_SECRETS'
      - name: Publish
        run: tag-publish
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        if: env.HAS_SECRETS == 'HAS_SECRETS'
      - run: git diff --exit-code --patch > /tmp/dpkg-versions.patch; git diff --color; git reset --hard || true
        if: failure()
      - uses: actions/upload-artifact@v5
        with:
          name: Update dpkg versions list.patch
          path: /tmp/dpkg-versions.patch
          retention-days: 1
        if: failure()
